/* 
    Filename   : index.css
    Created on : 09.12.2019, 10:44:29
    Author     : 1039977
*/

* {
    margin: 0;
}

* {
    outline: none;
}

html {
    position: relative;
    min-height: 100%;
}

.content{
    margin-left: auto;
    margin-top: 100px;
    text-align: center;

}


body {

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

h1{
    padding-top: 50px;
    text-align: center;

}

p{
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
}

header {

}

nav {
    color: black;
    font-size: 18px;
}

main {

}

footer {
    background-color: #171a1d;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #43ba39;
}

